.Container{
    font-family: fantasy;   
    border-style: solid;
    border-color: gray;
    border-radius: 2%;
    position: relative;
    background-color: hsl(0, 0%, 29%);
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

.Home{
    color: black;
    text-align: left;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
    display: flex;
    
}

li{
  margin-left: 20px;
}

p{
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

