@media (max-width: 768px) {
 
    
    
}
.Container{
    font-family: fantasy;   
    border-style: solid;
    border-color: gray;
    border-radius: 2%;
    position: relative;
    background-color: hsl(0, 0%, 29%);
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

.Home{
    color: white;
    text-align: left;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
    display: flex;
    
}

li{
  margin-left: 20px;
}

p{
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    color: whitesmoke;
    text-align: center;
}

h3{
    color: white;    
}


.product-box{
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    border: 20px solid rgba(255, 255, 255, 0.534);
    border-width: 80%;
    padding: 10px;
}



.product-box img{
    width: auto;
    height: auto;
    max-width: 200px;
    margin-bottom: 10px;
}

.product-title{
    margin-top: 5px;
    font-weight: bold;
}

.product1{
    flex-grow: 1;
    text-align: right;
    padding-right: 25%;
    box-sizing: border-box;
}